#live-stream-wrapper {
    background: var(--theme-header-color-dark);
    padding-bottom: 30px;
}

#live-stream-wrapper h1 {
    color: var(--theme-primary-color);
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    padding: 0px;
}

#live-stream-wrapper h2 {
    color: var(--theme-primary-color);
    font-weight: normal;
    text-align: center;
}

#live-content {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--theme-header-color-dark);
}

#live-content #content {
    max-width: 550px;
    padding-bottom: 50px;
    margin: 0 auto;
    background: var(--theme-header-color-dark);
    color: var(--theme-primary-color);
}

#location-wrapper {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

#location-links {
    display: inline-block;
}

#location-links .stream-link {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 0px;
    padding: 10px;
    border-right: 1px solid var(--theme-primary-color);
    /* Text */
    text-decoration: none;
    text-transform: uppercase;
    color: var(--theme-primary-color);
    font-size: 1.2em;
    font-weight: bold;
}

#location-links .stream-link:last-child {
    border-right: none;
}

#location-links .stream-link img {
    width: 90%;
}

#location-links .stream-link:hover {
    opacity: .7;
}

@media only screen and (max-width: 1000px) {
    #live-stream-wrapper #live-iframe #live-chat {
        height: 500px;
    }

    #live-stream-wrapper #live-iframe {
        grid-template-columns: auto;
        grid-template-rows: 50.625vw 500px;
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    
    #live-stream-wrapper #live-iframe {
        grid-template-rows: 0% 0%;
    }

    #live-content #content {
        display: block;
        margin: 0 auto;
    }

    #location-links .stream-link {
        border-right: none;
    }

}