h1 {
    padding: 20px 0;
}

h2 {
    margin-bottom: 20px;
}

#sunday-element {
    height: 600px;
}

#nursery-element {
    height: 350px;
}

#checkin-element {
    height: 420px;
}

#serving-element {
    height: 400px;
}

.class-selector {
    padding: 0;
    margin: 0;
    border: 1px soli
}

.class-selector {
    height: 300px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.class-selector img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.class-selector .placeholder-top h2 {
    position: absolute;
    top:  50%;
    left: 20px;
    z-index: 2;

    font-size: 40px;
    transform: translatey(-50%);
    color: white;
    text-transform: uppercase;
    transition: .2s;
}

.class-selector .placeholder-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--theme-primary-color);
}

.class-selector .content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .8);
    z-index: 2;
    opacity: 0;

    transition: .3s;
}

.class-selector:hover .content-wrapper {
    opacity: 1;
}

.class-selector:hover .placeholder-top h2 {
    opacity: 0;
}

.class-selector p {
    text-indent: 0px;
    text-align: center;
}

#class-element {
    border: 10px solid white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;;
}


@media only screen and (max-width:800px) {

    .class-selector .content-wrapper {
        opacity: 1;
    }

    .class-selector .placeholder-top h2 {
        opacity: 0;
    }

    .class-selector .placeholder-bottom {
        width: 90%;
    }

    #sunday-element {
        height: 900px;
    }

    #wednesday-element {
        height: 600px;
    }

    #nursery-element {
        height: 600px;
    }

    #checkin-element {
        height: 800px;
    }

    #serving-element {
        height: 600px;
    }
}