#live-stream-wrapper {
    background: linear-gradient(0deg, #E27BB2, #4A79B0);
    padding-bottom: 0;
}

#stream-offline {
    position: static;
    text-align: center;
    text-transform: uppercase;
    padding: 200px 0 200px 0;
    display: none;
}

#stream-offline img {
    display: block;
    height: 35px;
    margin: 0 auto 10px auto;
}

#stream-offline #error-message {
    font-weight: bold;
}

#stream-offline #error-description {
    font-size: .9em;
    color: #666;
    text-transform: none;
}

#live-stream-wrapper #logo-wrapper {
    position: relative;
    padding-top: 20px;
    height: 200px;
}

#live-stream-wrapper #logo-wrapper img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 200px;
}

#live-stream-wrapper h2 {
    color: var(--theme-primary-color);
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
}

#live-stream-wrapper #live-iframe {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
    position: static;
}

#resize-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
}

#resize-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#live-stream-wrapper #live-iframe #live-chat {
    height: 100%;
    width: 100%;
    position: relative;
}

#button-group {
    width: 100%;
    text-align: center;
    padding: 50px 0 30px 0;
}

#button-group a {
    display: inline-block;
    margin: 10px;
    width: 130px;
}

#countdown {
    text-align: center;
    position: static;
    display: none;
    color: var(--theme-primary-color);
    padding: 200px 0 200px 0;
}

#countdown #clock {
    font-size: 1.5em;
}

#live-content {
    width: 100%;
    padding: 0;
    margin: 0;
}

#live-content #content {
    max-width: 550px;
    padding-bottom: 50px;
    margin: 0 auto;
    color: var(--theme-primary-text);
}

@media only screen and (max-width: 1000px) {
    #live-stream-wrapper #live-iframe #live-chat {
        height: 500px;
    }

    #live-stream-wrapper #live-iframe {
        grid-template-columns: auto;
        grid-template-rows: 50.625vw 500px;
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    #live-chat {
        display: none;
    }
    #live-stream-wrapper #live-iframe {
        grid-template-rows: 0% 0%;
    }
    #live-content #content {
        display: block;
        margin: 0 auto;
    }

    #live-content {
        margin-top: 20px;
    }
}