
/* Default display on landing page */
.element1 {
    display: none;
}

.element2 {
    display: none;
}

.element3 {
    display: none;
}

.defaultElement {
    display: block;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    text-indent: 0px;
}

#pastor-lead-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#pastor-lead-description {
    padding: 20px;
    align-self: flex-end;
    text-align: center;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

#pastor-lead-description h1 {
    padding: 20px 20px 0px 20px;
    color: var(--theme-secondary-color);
    font-size: 30px;
}

#pastor-lead-description h2 {
    font-size: 20px;
    color: #7f8c8d;
}

#partnered-church--bristow {
    background: url('/ref/pages/about_page/partnered/bristow.jpg');
}

#partnered-church--easterhouse {
    background: url('/ref/pages/about_page/partnered/easterhouse.jpg');
}

#partnered-church--lumina {
    background: url('/ref/pages/about_page/partnered/biserica.jpg');
}

#partnered-church--bristow, #partnered-church--easterhouse, #partnered-church--lumina {
    background-position: center;
    background-size: 100vw;
    background-attachment: fixed;
}

#what-we-believe-element {
    list-style: none;
    padding: 0px;
}

#what-we-believe-element li {
    padding-bottom: 50px;
}

.what-we-believe--background {
    background: #E8D6D1;
}

/*  */
#pastor-list {
    text-align: center;
}

.pastor {
    margin: 10px 20px;
    width: auto;
    display: inline-block;
}

.pastor-image {
    text-align: center;
    border: 10px solid white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    font-size: 0px;
}

.pastor-image img {
    height: 225px;
    width: 325px;
    object-fit: cover;
}

.pastor-description {
    padding-bottom: 30px;
    text-align: center;
}

.pastor-description h1 {
    font-size: 25px;
    color: var(--theme-secondary-color);
}

.pastor-description h2 {
    font-size: 18px;
    color: var(--theme-text-subheader);
}

.partnered-church {
    height: 80vh;
    position: relative;
    margin: 40px 0;
}

.partnered-church--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 30px;

    background: var(--theme-primary-color);
}

.partnered-church--text h1 {
    padding-bottom: 20px;
    margin: -10px 0 0 0;

    color: var(--theme-text-subheader);
}

.large-header {
    font-size: 30px;
    margin: 30px 0px 10px 0px;
}

.image-overlay {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 4px;
}

.image-overlay img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay .text-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 30px;

    background: rgba(0, 0, 0, .8);
}

.image-overlay .text-section--right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
    width: 50vw;
    padding: 30px;


    color: var(--theme-primary-color);
}


@media only screen and (max-width:800px) {
    .image-overlay .text-section {
        width: 80%;
    }

    #pastor-lead-image {
        width: 100%;
        height: 300px;
    }

    #pastor-lead-description {
        width: 80%;
    }

    .pastor-image img {
        height: 180px;
        width: 280px;
    }
}