#title-image {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

#service-time-location {
    width: 100%;
}

#service-time-location td {
    vertical-align: top;
    width: 50%;
}

#service-time-location p {
    text-indent: 0;
}

#service-time-location iframe {
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}