@keyframes fadeInPull {
    0% { opacity: 0; transform: translate(0px, 50px); }
    100% { opacity: 1; transform: translate(0px, 0px); }
}

@keyframes fadeInBounce {
    0% { opacity: 0; transform: scale(.9) }
    80% { opacity: 1; transform: scale(1.02) }
    100% {opacity: 1; transform: scale(1.0) }
}

.series-logo--animation {
    animation-name: fadeInPull;
    animation-duration: 1s;
    animation-delay: 0s;
    /* Keeps from looping */
    animation-fill-mode: forwards;
}

.series-text--animation {
    animation-name: fadeInPull;
    animation-duration: .5s;
    animation-delay: .5s;
    /* Keeps from looping */
    animation-fill-mode: forwards;
}