html {
    scroll-behavior: smooth;
}

:root {
    --sermon-primary-color: white;
}

#sermon-video--wrapper {
    position: relative;
}

#sermon-video--background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#sermon-video--background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#sermon-video--foreground {
    display: inline-block;
    /* Center Video element */
    width: 100%;
    margin: 0;
    padding: 50px 0;
}

#sermon-video--foreground h1 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'IBM Plex Sans';
    color: var(--sermon-primary-color);
    text-shadow: 0 0 20px black;
}

#sermon-video--foreground h2 {
    margin-top: 30px;
    text-transform: uppercase;
}

#sermon-video--foreground #series-logo {
    width: 80%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

#sermon-video--foreground .resize-wrapper {
    position: relative;
    padding-bottom: 440px;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    width: 800px;
    height: 440px;
}

#sermon-video--foreground .resize-wrapper iframe {
    width: 800px;
    height: 440px;
}

.section-fixed-height {
    height: 900px;
}

#series-logo,
#series-text {
    opacity: 0;
}

.home-divide {
    display: inline-block;
    padding: 40px 0;
}

.home-divide h3 {
    font-size: 40px;
    font-family: "IBM Plex Sans";
    font-weight: bold;
    text-transform: uppercase;
    color: var(--theme-text-color);
}

#video-banner {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#video-banner--video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    top: 0px;
}

#video-banner--text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--theme-primary-color);
    width: 100%;
}

#video-banner--text h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px black;
}

#video-banner--text h1 {
    font-size: 60px;
    text-shadow: 0px 0px 20px black;
}

#video-banner #memorial-day {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#video-banner #memorial-day img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-banner #memorial-day #foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.series-subtext {
    font-size: 20px;
}

#alert {
    display: none;
    position: fixed;
    z-index: 50;
    margin-top: var(--header-height);
    background: rgb(170, 45, 45);
    width: 100%;
    height: 30px;
    padding: 10px;
    text-align: center;
}

#alert a {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--theme-primary-color);
    font-size: 1.4em;
    text-decoration: none;
}

#alert a:hover {
    text-decoration: underline;
}

#alert img {
    height: 15px;
    margin-left: 5px;
}

#banner-buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#banner-buttons #watch-live-wrapper {
    display: inline-block;
    /* background: green; */
}

#banner-buttons #watch-live-wrapper #tool-tip {
    background: var(--theme-secondary-color);
    color: var(--theme-primary-color);
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--theme-primary-color);
    padding: 5px;
    opacity: 0;
}

.tool-tip-in {
    animation: tool-tip-in 2s 1s;
    animation-fill-mode: forwards;
}

@keyframes tool-tip-in {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    25% {
        transform: translateY(0%);
        opacity: 1;
    }

    60% {
        transform: translateY(0%) scale(1);
    }

    70% {
        transform: translateY(0%) scale(1.05);
    }

    80% {
        transform: translateY(0%) scale(1);
    }

    90% {
        transform: translateY(0%) scale(1.05);
    }

    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

#banner-buttons a {
    width: 140px;
    margin: 8px;
}

#banner-down-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

/* TODO: Remove when done */

/* COVID CODE */

#ministry-online-div a {
    width: 90%;
    max-width: 600px;
}

@media only screen and (max-width:800px) {
    #announcement-div h3 {
        font-size: 20px;
    }

    /*#sermon-video--foreground #series-logo {
        width: 80%;
        height: auto;
        margin-bottom: 30px;
    }*/
    #sermon-video--foreground .resize-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
    }

    #sermon-video--foreground .resize-wrapper iframe {
        position: absolute;
        top: 0;
        left: 2.5%;
        width: 95%;
        height: 95%;
    }

    #video-banner h1 {
        font-size: 30px;
    }

    #video-banner h2 {
        font-size: 20px;
    }

    /* TODO: Remove when done */
    /* COVID CODE */
    #ministry-online-div a {
        width: 70%;
    }

    #ministry-online-div h3 {
        font-size: 1.5em;
    }
}