/*
    A stylesheet that moves the element from off screen and
    brings up the opacity. Will also fade then move element
    off screen so it is not clickable.

    Check out the ministries-script.js to see the implementation.
*/

@keyframes sectionShow {
  /* Bring element on screen and keep hidden */
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  1% {
    opacity: 0;
    transform: translateX(0%);
  }
  /* Fade in the element */
  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes sectionHide {
  /* Fade out element */
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  /* Move element off screen */
  99% {
    opacity: 0;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translate(-100%);
  }
}

/* Apply this class to the element to fade it in */
.showSection {
  animation-name: sectionShow;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

/* Apply this class to fade the element back out */
.hideSection {
  animation-name: sectionHide;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

/*
    An animation that quickly moves the social media
    menu buttons out of the way, then back so they
    are not accidentally tapped on from a collapsed
    menu.

    See fusion_style.css to see the implementation.
*/
@keyframes disableButton {
  0% {
    transform: translate(-150vw, -50%);
  }
  1% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
