#webinar-wrapper {
    background-image: url('/ref/pages/ministries_page/sections/woman/webinar/LNI_Background.jpg');
}

.content {
    width: 700px;
}

#webinar-wrapper #logo {
    width: 100%;
}

#webinar-wrapper #text-wrapper {
    background: rgba(46, 2, 44, 0.7);
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px;
}

@media only screen and (max-width: 700px) {
    .content {
        width: 90%;
    }
}