<footer>
    <div class="content">
        <img src="/ref/icons/cag-logo-center.png"><br>
        
        <div class="footer-link--container">

            <div id="item1" class="footer-link--section">
                <h1>Services</h1>
                <ul>
                    <li><a href="/services/">Service Times & Locations</a></li>
                    <li><a href="/services/classes/">Classes</a></li>
                </ul>
            </div>

            <div id="item2" class="footer-link--section">
                <h1>Watch</h1>
                <ul>
                    <li><a target="_blank" href="https://www.youtube.com/playlist?list=PL-l7Wgw0EmCHjBzGbH_f-BxyqWIm4DCjV">Sermons</a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCx-bgFNkwgq1c_42gy-BNrw">Youtube</a></li>
                </ul>
            </div>

            <div id="item3" class="footer-link--section">
                <h1>About</h1>
                <ul>
                    <li><a href="/about/beliefs/">What We Believe</a></li>
                    <li><a href="/about/pastors/">Meet Our Staff</a></li>
                    <li><a href="/about/churches/">Partner Churches</a></li>
                </ul>
            </div>

            <div id="item4" class="footer-link--section">
                <h1>Ministries</h1>
                <ul>
                    <li><a href="/ministries/alive/">Alive Kids</a></li>
                    <li><a href="/ministries/lifegroups/">Agora</a></li>
                    <li><a href="/ministries/cafe/">Caf&eacute;</a></li>
                    <li><a href="/ministries/cleansingstream/">Cleansing Stream</a></li>
                    <li><a href="/ministries/doulos/">Doulos</a></li>
                    <li><a href="/ministries/fusion/">Fusion</a></li>
                    <li><a href="/ministries/livingfree/">Living Free</a></li>
                    <li><a href="/ministries/men/">Men's Ministry</a></li>
                    <li><a href="/ministries/sports/">Sports Fellowship</a></li>
                    <li><a href="/ministries/women/">Women's Minsitry</a></li>
                </ul>
            </div>

            <div id="item6" class="footer-link--section">
                <h1>Missions</h1>
                <ul>
                    <li><a href="/missions/missionsprojects/">Our Projects</a></li>
                    <li><a href="/missions/missionstrips/">Our Missions Trips</a></li>
                    <li><a href="/missions/visionformissions/">Our Vision For Missions</a></li>
                </ul>
            </div>

            <div id="item7" class="footer-link--section">
                <h1>Prayer</h1>
                <ul>
                    <li><a href="/prayer/">Saturday Night Prayer</a></li>
                </ul>
            </div>

            <div id="item8" class="footer-link--section">
                <h1>Give</h1>
                <ul>
                    <li><a target="_blank" href="https://app.easytithe.com/g3/">Online</a></li>
                    <li><a href="/give/">Text</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>