<header>
    <main class="header-content header-logo">
        <table>
            <tr>
                <td id="header-icon"></td>
                <td>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">ABOUT</a>
                            </li>
                            <li>
                                <a href="#">SERMONS</a>
                            </li>
                            <li>
                                <a href="#">COMMUNITY</a>
                            </li>
                            <li>
                                <a href="#">MINISTRIES</a>
                            </li>
                            <li>
                                <a href="#">MISSIONS</a>
                            </li>
                            <li>
                                <a href="#">PRAYER</a>
                            </li>
                            <li>
                                <a href="#">GIVE</a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </table>
    </main>
</header>