
p {
    text-indent: 0px;
}

#project-links {
    margin-top: 50px;
    width: 100%;
}

#project-links td {
    width: 50%;
    text-align: center;
    vertical-align: top;
}

#project-links a {
    color: var(--theme-text-color);
    text-decoration: none;
}

#project-links a:hover {
    color: var(--theme-text-hover);
}

#missions-trip {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#missions-trip tr:first-child td {
    border-top: 0px;
}

#missions-trip td {
    padding: 10px;
    border-top: 2px solid #ccd4df;
}

#missions-trip td:last-child {
    text-align: right;
    width: 100px;
}

.missions-sections {
    position: relative;
    height: 100vh;
}

.missions-sections img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: saturate(0%);
}

.missions-sections .text-wrapper {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100%;
}

.missions-sections p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;

    color: var(--theme-primary-color);
    font-size: 30px;
    text-indent: 0px;

    opacity: 0;
}

.left .text-wrapper {
    left: 0px;
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.left p {
    text-align: left;
    left: 5vw;
}

.right .text-wrapper {
    right: 0px;
    background: linear-gradient(0.75turn, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.right p {
    text-align: right;
    right: 5vw;
}

.none {
    display: inline;
}


@media only screen and (max-width:800px) {
    .missions-sections p {
        width: 80vw;
    }

    .left .text-wrapper {
        background: rgba(0, 0, 0, 0.8);
    }
    
    .right .text-wrapper {
        background: rgba(0, 0, 0, 0.8);
    }

    .right p {
        text-align: left;
        left: 5vw;
    }
}