/* Imports */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');

@import url('header.css');
@import url('footer.css');
@import url('parallax.css');

:root {
    --global-content-width: 800px;

    /* Default values for page if mode is not specified */
    --theme-primary-color: #fff;
    --theme-secondary-color: #aaa;
    --theme-text-color: #000;
}

/* Text Syles */
h1 {
    margin: 0px;
    padding: 10px;
}

h5 {
    margin: 0;
    padding: 0;

    font-size: 2em;
    font-weight: normal;

    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

p {
    padding: 10px;
    text-indent: 30px;
}


/* Body Styles */
body, html {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--theme-primary-color);
    color: var(--theme-text-color);
}

main .parallax_base {
    background: var(--theme-primary-color);
    padding: 40px 0px;
    border-top: 1px solid var(--theme-secondary-color);
    border-bottom: 1px solid var(--theme-secondary-color);
    color: var(--theme-text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
    width: var(--global-content-width);
    margin: 0 auto;
}

.fit img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Header format for parallax elements */

.parallax h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'IBM Plex Sans';
    text-shadow: 0 0 5px black;
}