footer {
    display: block;
    width: 100%;
    padding: 40px 0px;
    text-align: center;
    background-color: var(--theme-background-color);
    color: var(--theme-primary-color);
}

img {
    height: 200px;
}