header {
    /* Make parent relative for centering */
    position: fixed;
    background: var(--theme-header-color-light);
    top: 0px;
    
    display: flex;
    align-content: center;
    justify-content: center;

    /* EXPERIMENTAL */
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    
    /* Size */
    height: var(--header-height);
    width: 100%;
    z-index: 100;

    transition: .5s;
}

.header-blur {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.header-transparent {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    transition: ease-in-out .3s;
}

/* Dark mode code - used by default */
.header-dark {
    background: var(--theme-header-color-dark);
    transition: ease-in-out .3s;
}

/* Code for light mode if needed */
.header-light{
    background: var(--theme-header-color-light);
    transition: ease-in-out .3s;
}

.header-content {
    /* Size */
    width: 100%;
    padding: 0px;

    display: grid;
    grid-template-columns: 220px auto;
}

#header-icon {
    position: relative;
    display: block;
    text-align: right;
}

#header-icon img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 0px;
    /* Get the height of the header and subtracked 10px */
    height: 13px;

}

nav {
    position: relative;
    text-align: center;
}

nav ul {
    position: absolute;
    top: 50%;
    left: calc(50vw - 220px);
    transform: translate(-50%, -50%);
    width: 600px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin: 0px;
    /* Removes a spacing glitch */
    font-size: 0;
}

nav li {
    /* Display items horizontaly */
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0;
}

nav a {
    display: block;
    /* Format Nav bar Text */
    text-decoration: none;
    color: var(--theme-nav-text);
    font-weight: bold;
    font-size: 12px;

    /* Format Button */
    border-radius: 5px;

    /* Transformation */
    padding: 10px 7px;
    transition: .1s;
}

nav ul:hover a {
    opacity: .7;
}

nav ul a:hover {
    color: var(--theme-secondary-color);
    opacity: 1;
}