
/* Parallax Effect */

/* Parallax title styles */
.background_text {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.parallax_back h1 {
    margin: -30px 0 -10px 0;
    padding: 0;
    /* TODO: Glitch where it wraps */
    width: 800px;

    color: rgb(255, 255, 255);
    font-size: 90px;
    font-family: 'IBM Plex Sans';
    font-variant-caps: all-small-caps;
    font-weight: bold;

    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.parallax_back h2 {
    margin: 0;
    padding: 0;

    color: rgb(200, 200, 200);
    font-size: 30px;
    font-family: 'IBM Plex Sans';
    font-variant-caps: all-small-caps;
    font-weight: normal;

    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.parallax_back h3 {
    margin: 0 0 10px 0;
    padding: 0;

    color: rgb(200, 200, 200);
    font-size: 20px;
    font-family: 'IBM Plex Sans';
    font-variant-caps: all-small-caps;
    font-style: italic;
    font-weight: normal;

    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.parallax_back a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-variant-caps: all-small-caps;

    transition: .3s ease-in-out;
}

.parallax_back a:hover {
    color: var(--theme-secondary-color);
    transition: .3s ease-in-out;
}

/* Sections */

.parallax_base {
    background: var(--theme-primary-color);
    padding: 40px 0px;
    border-top: 2px solid var(--theme-secondary-color);
    border-bottom: 2px solid var(--theme-secondary-color);
    color: var(--theme-text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Creates a container for the whole body section to be in */
.parallax_container {
    perspective: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;

    /* DEBUG */
    /* transform: translate3d(700px, 0px, -800px) rotateY(40deg); */
}

.parallax_layer {
    /* Set the position to be absolute without any values */
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.parallax_layer video {
    height: auto;
    width: auto;
}

.parallax_center_element {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.parallax_base {
    transform: translateZ(0px);
}

.parallax_back {
    text-align: center;
    transform: translateZ(-300px) scale(2);
}

.parallax_far {
    transform: translateZ(-600px) scale(3);
}

/* Create  */

.layer1 {
    z-index: 2;
}

.layer2 {
    z-index: 1;
}

.layer3 {
    z-index: 0;
}