/* Imports */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');

@import url('header.css');
@import url('footer.css');
@import url('parallax.css');

:root {
    --global-content-width: 800px;

    /* Default values for page if mode is not specified */
    --theme-primary-color: rgb(219, 219, 219);
    --theme-header-color-dark: rgba(10, 10, 10, .9);;
    --theme-header-color-light: rgba(233, 233, 233, 0.9);
    --theme-secondary-color: rgb(77, 104, 226);
    --theme-text-color: rgb(30, 30, 30);
    --theme-nav-text: #fff;
}

* {
    margin: 0;
    padding: 0;
}

/* Text Syles */
h1 {
    margin: 0px;
    padding: 10px;
}

p {
    padding: 10px;
    text-indent: 30px;
}


/* Body Styles */
body, html {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--theme-primary-color);
    color: var(--theme-text-color);
}

.content {
    width: var(--global-content-width);
    margin: 0 auto;
}

/* A class that makes an object fill the screen */
.fit img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sermon_video {
    height: 450px;
    width: 800px;
    background-image: url("../ref/home_page/video_thumbnail.png");
    background-repeat: none;
    background-position: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.video_overlay {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
}

.video_element {
    height: 100%;
    width: 100%;
}