body {
    overflow-x: hidden;
}

.video-wrapper {
    position: relative;
    height: 340px;
}

.center-text {
    text-align: center;
}

#defaultVideo {
    display: inline;
}


#enduring-faith--section {
    position: relative;
    height: 800px;
}
#sermon-series--background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sermon-series--forground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sermon-series--forground h1 {
    padding: 0px;
    margin: -30px 0px 20px 0px;
}


#sermon-series-logo {
    width: 500px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#sermons--section h1 {
    text-align: center;
    color: var(--theme-primary-color);
    font-size: 40px;
    margin-bottom: 30px;
}

#sermons--section {
    text-align: center;

    padding: 40px 0px;
}

#sermons--section h2 {
    margin-top: 30px;
    text-align: center;
}

#sermons--section a {
    color: #444;
    text-decoration: none;
}

#sermons--section a:hover {
    color: var(--theme-primary-color);
}

#sermons--section iframe {
    width: 800px;
    height: 450px;
}

#recent-videos--section h1 {
    text-align: center;
    font-size: 40px;
    color: var(--theme-secondary-color);
}

#recent-videos--section h2 {
    text-align: center;
    color: var(--theme-secondary-color);
    margin-bottom: 30px;
}

#recent-videos--section {
    background: var(--theme-primary-color);
    text-align: center;

    padding: 30px 0;
}

#recent-videos--section iframe {
    width: 800px;
    height: 450px;
}

#sermons-links {
    color: #2f2f2f;
}


@media only screen and (max-width: 800px) {
    #sermon-series-logo {
        width: 90%;
        max-width: 500px;
    }

    #recent-videos--section iframe {
        width: 80%;
        height: 300px;
    }

    #sermons--section iframe {
        width: 80%;
        height: 300px;
    }
}