.video-wrapper {
    position: relative;
    height: 340px;
}

.video {
    display: none;
}

.center-text {
    text-align: center;
}

.video-section {
    background: rgba(0, 0, 0, .8);
    padding: 10px;
}


#defaultVideo {
    display: inline;
}

#enduring-faith--section {
    position: relative;
    height: 800px;
}

#sermon-series--background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#sermon-series--forground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sermon-series--forground h1 {
    padding: 0px;
    margin: -30px 0px 20px 0px;
}

#enduring-faith--section .video {
    position: absolute;
    top: 0px;
    left: 0px;
}

#video-thumbs {
    width: 100%;
    height: 100px;
}

#video-thumbs td {
    position: relative;
    width: 25%;

    overflow: hidden;
}

#video-thumbs img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;
    object-fit: cover;

    /* opacity: 0.2; */

    /* TODO: Causing a safari glitch */
    filter: blur(5px) saturate(20%) brightness(40%);
}

#video-thumbs h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--theme-primary-color);
    font-size: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#video-thumbs .enabled {
    cursor: pointer;
}

#video-thumbs .enabled img {
    /* opacity: 1; */
    filter: saturate(100%) brightness(100%);
}

#video-thumbs .selected {
    border: 4px solid var(--theme-primary-color);
}

#sermon-series-logo {
    width: 500px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#sermons--section h1 {
    text-align: center;
    color: var(--theme-primary-color);
    font-size: 40px;
    margin-bottom: 30px;
}

#sermons--section h2 {
    margin-top: 30px;
    text-align: center;
}

#sermons--section a {
    color: #444;
    text-decoration: none;
}

#sermons--section a:hover {
    color: var(--theme-primary-color);
}

#recent-videos--section h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

#recent-videos--section {
    background: var(--theme-primary-color);
    text-align: center;

    padding: 30px 0;
}

#recent-videos--section table {
    width: 100%;
}

#recent-videos--section td {
    position: relative;
    background: green;
    height: 300px;
}

#recent-videos--section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#recent-videos--section #play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(52, 73, 94, .9);
    width: 100%;
    height: 100%;

    opacity: 0;

    transition: .1s;
}

#recent-videos--section #play-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--theme-primary-color);
    font-size: 30px;
    text-transform: uppercase;
}

#recent-videos--section td:hover #play-button {
    opacity: 1;
}

#sermons-links {
    color: #2f2f2f;
}